/**
 * Pretendard 폰트 설정
 * CDN을 통한 폰트 로딩
 */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

/**
 * 로컬 폰트 파일을 사용하는 경우:
 * 1. public/fonts/ 폴더에 Pretendard 폰트 파일 배치
 * 2. 아래 @font-face 규칙의 주석 해제
 */

/*
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
       url('/fonts/Pretendard-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2'),
       url('/fonts/Pretendard-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
       url('/fonts/Pretendard-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2'),
       url('/fonts/Pretendard-Bold.woff') format('woff');
  font-display: swap;
}
*/

